<!DOCTYPE html>
<html lang="en">
{% include "includes/head.html" %}

<body>
    <div class="row text-center">
        <div class="col-lg-12 pt-5">
            <h1> Crawl Playstore Sentiment</h1>
            <h4>Make the Sentiment Analysis</h4>

            <!-- add flash -->
            {% with messages = get_flashed_messages() %} {% if messages %}
            {% for message in messages %}

            <div class="flash-card{% if 'error' in message.lower() %}
                    error{% elif 'warning' in message.lower() %} 
                    warning{% else %} success{% endif %}">
                <span class="text-danger"> {{message}} </span>
            </div>
            {% endfor %} {% endif %} {% endwith %}

            <form action="/playstore" method="post" class="pt-4">
                <label for="package_name">Package Name</label>
                <input type="text" name="package_name" required />
                <button type="submit">Crawl</button>
            </form>
        </div>
    </div>
    <div x-data="sentimentApp()" x-init="fetchAndPredict()" class="container">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div x-show="loading" class="loading-indicator">
                    Loading sentiments...
                </div>
                {{ table|safe }}
            </div>
        </div>
    </div>

    <div class="container">
        <h4>Visualisasi Score Sentiment</h4>
        <div class="col-lg-6 pt-5">
            <canvas id="sentimentChart" widht="500" height="150"></canvas>
        </div>
    </div>

    <script>
        function sentimentApp() {
            return {
                loading: false,  //loading state indicator
                reviews: [],

                fetchAndPredict() {
                    this.loading = true;
                    this.$nextTick(() => {
                        const reviewsTable =
                            document.querySelector(".table");
                        const reviewTexts = [
                            ...reviewsTable.querySelectorAll("tr"),
                        ]
                            .slice(1)
                            .map((tr) => {
                                return tr.children[2].innerText; // Assuming the review text is the third column
                            });

                        // Call your API endpoint with the texts for sentiment analysis
                        fetch("/api/predict", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ texts: reviewTexts }),
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                this.updateTableWithSentiments(
                                    reviewsTable,
                                    data.data.sentiments
                                );
                                this.loading = false;
                            })
                            .catch((error) => {
                                console.error(
                                    "Error fetching and predicting:",
                                    error
                                );
                                this.loading = false;
                            });
                    });
                },

                // ----------- Update Table Sentiment -----------
                updateTableWithSentiments(reviewsTable, sentiments) {
                    // Add a new column header for sentiments if not added yet
                    const headerRow = reviewsTable.querySelector("tr");
                    const numColumns = headerRow.children.length;

                    if (numColumns === 4) {
                        const sentimentTh = document.createElement("th");
                        sentimentTh.innerText = "Sentiment";
                        headerRow.appendChild(sentimentTh)
                    }

                    // sum the scores based on labels
                    const scoresSum = {};
                    sentiments.forEach((sentiment) => {
                        const label = sentiment[0].label;
                        const score = sentiment[0].score;
                        scoresSum[label] = (scoresSum[label] || 0) + score;
                    });

                    // update each row with the sentiment analysis result
                    const rows = [...reviewsTable.querySelectorAll("tr")].slice(1); //exclue the header row
                    rows.forEach((tr, index) => {
                        const sentimentResult = sentiments[index][0];

                        //return value in column sentiment
                        const sentimentText = `${sentimentResult.label}(${sentimentResult.score.toFixed(2)})`;

                        //check if sentiment cell already exist, if not, create it
                        if (tr.children.length === numColumns) {
                            const sentimentTd = document.createElement("td");
                            sentimentTd.innerText = sentimentText;
                            tr.appendChild(sentimentTd);
                        }
                        else {
                            //update existing sentiment cell
                            tr.children[numColumns].innerText = sentimentText
                        }
                    });
                    this.updatecanvas(scoresSum)
                },

                updatecanvas(scoresSum) {
                    // assming scoresSum is an object with labels as keys and summed scores as values
                    const labels = Object.keys(scoresSum);
                    const scores = Object.values(scoresSum).map((score) =>
                        score.toFixed(2)
                    );

                    var ctx = document.getElementById("sentimentChart")
                        .getContext("2d");

                    var myChart = new Chart(ctx, {
                        type: "pie",
                        data: {
                            labels: labels,
                            datasets: [
                                {
                                    label: "Labels Sentiment Score",
                                    data: scores,
                                    backgroundColor: [
                                        "rgba(255, 99, 132, 0.2)",
                                        "rgba(75, 192, 192, 0.2)",
                                        "rgba(169, 169, 169, 0.2)",
                                    ],
                                    borderColor: [
                                        "rgba(255, 99, 132, 1)",
                                        "rgba(75, 192, 192, 1)",
                                        "rgba(169, 169, 169, 1)",
                                    ],
                                    borderWidth: 1
                                },
                            ],
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                },
                            },
                        },
                    });
                },
            };
        }
    </script>

</body>

</html>